body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #003D99;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    overflow:hidden;
}

nav {
    margin:10px 0;
    flex-grow :1;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 0 15px;
    flex: 1;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease
}

.menu li:hover a {
    background-color: #555;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
    flex-wrap: wrap;
}

.menu-icon, .search-icon {
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
    margin-right: 0px;
}

.Logo {
    width: 300px;
    height: auto;
    margin-left: 25px;
    border-radius: 20px;
    
}

.description {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding: 25px;
    text-align: justify;
    margin:10px;
}

.description h2 {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 3px solid black;
    padding-bottom:10px;
}

.description p {
    margin: 0;
}

.image-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slide img {
    width:50;
    height: auto;
    border-radius: 5px;
}

.slide p {
    color: #333;
    margin-top: 10px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003D99;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

.footer-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-menu li {
    margin: 0 15px;
}

.footer-menu li a {
    color: #fff;
    transition: color 0.3s ease;
}

.footer-menu li a:hover{
    color: grey;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Coloca los elementos del header en columna */
        align-items: center; /* Centra los elementos del header */
    }

    .Logo {
        order:1;
        max-width: 150px; /* Ajusta el tamaño del logo para móviles */
        margin: 0 auto 10px; /* Centra el logo horizontalmente y agrega espacio debajo */
    }

    .icons {
        order: 3; /* Mueve los iconos después del menú */
        width: 100%; /* Ocupa todo el ancho */
        justify-content: center; /* Centra los iconos */
        margin-top: 10px; /* Agrega un poco de espacio encima */
    }

    nav {
        order: 2;
        width: 100%; /* Asegúrate de que el menú nav ocupe todo el ancho */
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center; /* Centra el menú */
        width: 100%; /* Asegúrate de que el menú ocupe todo el ancho */
    }

    .menu li {
        margin: 5px;
        flex: none; /* Asegúrate de que los elementos del menú no se extiendan más allá */
    }

    .menu-icon, .search-icon {
        flex: none;
        margin: 5px;
    }

    footer {
        width: 100%; /* Asegúrate de que el footer ocupe todo el ancho */
    }
}
