* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #003D99;
    color: #fff;
    padding: 5px;
    width: 100%;
}

nav {
    margin:10px 0;
    flex-grow :1;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 0 15px;
    flex: 1;
}

.menu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.menu li:hover a {
    font-weight: bold;
    color: black;
    background-color: rgb(229, 149, 0);
    border-radius: 5px;

}

.icons {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.menu-icon, .search-icon {
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
}

.Logo {
    width: 300px;
    height: auto;
    margin-left: 25px;
    border-radius: 20px;
    
}

.description {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding: 25px;
    text-align: justify;
    margin:10px;
}

.description h2 {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 3px solid black;
    padding-bottom:10px;
}

.description p {
    margin: 0;
}

.image-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    text-align: center;
}

.slide img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.slide p {
    color: #333;
    margin-top: 10px;
}

button.prev, button.next {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #003D99;
    transition: color 0.3s ease, background-color 0.3s ease;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    color: black;
    background-color: orange;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003D99;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
    box-sizing: border-box;
}

.footer-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-menu li {
    margin: 0 15px;
}

.footer-menu li a {
    color: #fff;
    transition: color 0.3s ease;
}

.footer-menu li a:hover{
    color: grey;
}

@media (max-width: 980px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin: 10px;
        padding: 15px;
        font-size: 14px;
        width: 100%;
    }

    .Logo {
        order:1;
        max-width: 250px;
        margin: 5px 0;
    }

    .icons {
        order: 3;
        width: 100%;
        justify-content: center;
        margin: 5px 0;
    }

    nav {
        order: 2;
        width: 100%;
        margin: 5px 0;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .menu li {
        margin: 5px;
        flex: none;
    }

    .menu-icon, .search-icon {
        flex: none;
        margin: 5px;
    }

    footer {
        width: 100%;
    }
}
